USE [master]
GO
/****** Object:  Database [studentdb]    Script Date: 12-08-2023 20:46:28 ******/
CREATE DATABASE [studentdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'studentdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\studentdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'studentdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\studentdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [studentdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [studentdb]
GO
/****** Object:  Table [dbo].[StudentDetails]    Script Date: 12-08-2023 20:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[Hobbies] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentDetails] ON 

INSERT [dbo].[StudentDetails] ([Id], [Name], [Email], [Phone], [Zip], [Hobbies]) VALUES (1, N'sneha', N'sneha@gmail.com', N'8979798989', N'98989', N'movie')
INSERT [dbo].[StudentDetails] ([Id], [Name], [Email], [Phone], [Zip], [Hobbies]) VALUES (2, N'bhi', N'bhi@gmail.com', N'7868687879', N'11111', N'football')
INSERT [dbo].[StudentDetails] ([Id], [Name], [Email], [Phone], [Zip], [Hobbies]) VALUES (3, N'samu shree', N'samu@gmail.com', N'7868607898', N'88888', N'movie, music')
SET IDENTITY_INSERT [dbo].[StudentDetails] OFF
GO
USE [master]
GO
